body,
html{
  width:  100%;
  height:  100%;
  font-family: 'Montserrat', sans-serif;
  background: url(https://images.unsplash.com/photo-1611078489935-0cb964de46d6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

.buffer{
  height: 15rem;
}



hr {
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
}



.bn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary{
  background-color: #F05F44;
  border-color: #F05F44; 
}

.btn-primary:hover{
  background-color:  #ee4b08;
  border-color:  #ee4b08;
  border-width: 4px;
}

.btn-xl{
  padding: 1rem 2rem;
}